.chat-page {
  color: #9e9e9e;
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
}

.chat-page__screen {
  display: flex;
  flex-direction: column;
}

.date-user {
  text-align: right;
}
.date-recipient {
  text-align: left;
}
.chat-bot {
}
.userMessage {
  background-color: #19a8b3;
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;

  color: rgb(252, 252, 252);
  text-align: center;
  font-size: 15px;
  justify-content: flex-start;
  display: flex;
  text-align: left;
}
.userDate {
  text-align: right;
}
.recipientMessage {
  background-color: indigo;
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;

  color: rgb(252, 252, 252);
  text-align: center;
  font-size: 15px;
  justify-content: flex-start;
  display: flex;
  text-align: left;
}

.chat-page__screen__recipient-bubble {
  margin-right: auto;
}
.chat-page__screen__user-bubble {
  margin-left: auto;
}

.chat-page__input-form {
  width: 100%;
  background-color: rgb(226, 226, 226);
  border-radius: 25px;
  padding-left: 1%;
}
.submit {
  rotate: 90;
  transform: rotateX(90);
}
.text-input {
  display: flex;
  width: 85%;
  padding-bottom: 0.5%;
}
.send-button {
  transform: rotate(90deg);
  margin-left: 10px;
  height: 40px;
  transition: all 2s ease;
}
.send-button:hover {
  transform: rotate(360deg);
}
.chat-page__type-bubble {
  position: fixed;
  bottom: 80px;
  left: 0px;

  z-index: 100;
  width: 100%;
  background-color: white;
  justify-content: center;

  display: flex;
}
.chat-bot{
  background-color: lightgrey;
  max-width: 291px;
  margin-bottom: 12px;
  padding: 10px 20px;
  border-radius: 25px;
  color: black;
  text-align: left;
  font-size: 12px;
}
@media only screen and (max-width: 800px) {
  .chat-page h1{
    font-size: 15px;
    margin-bottom: 6px;
  }
  .chat-bot {
    background-color: lightgrey;
    max-width: 240px;
  }
}