* {
  margin: 0px;
  padding: 0px;
  font-family: "Libre Franklin", sans-serif;
}
.main_container {
  min-height: calc(100vh - 140px);
  padding: 20px 0px;
  margin: 0 auto;
  width: 80%;
}
.spinner-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

.purple-button{
  width: 100%;
  background-color: #A855F7;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 230px;
}
.purple-button:hover{
  background-color: #8916f5;
}
.centerDivContent{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
