* {
  margin: 0px;
  padding: 0px;
  font-family: "Libre Franklin", sans-serif;
}
.main_container{
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
