.top-nav {
  background-color: indigo;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: rgb(27, 168, 179);
  grid-template-areas: ". . logo logo logo login login";
  grid-gap: 10px;
  padding: 10px;
}
.top-nav button {
  border: 1px solid rgb(27, 168, 179);
  border-radius: 10px;
  background-color: #19a8b3;
  color: indigo;
  padding: 0px 10px;
  text-transform: uppercase;
}
.top-nav button:hover {
  background-color: indigo;
  color: #19a8b3;
}
.top-nav__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.top-nav__logo a {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.top-nav__logo img {
  max-height: 40px;
  object-fit: contain;
}
.top-nav__login {
  grid-area: login;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 20px;
}
.top-nav__login img {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bottom-nav {
  height: 80px;
  background-color: indigo;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgb(27, 168, 179);
  position: sticky;
  bottom: 0px;
  left: 0px;
}

.bottom-nav div {
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}
.bottom-nav div:hover {
  background-color: #19a8b3;
  color: indigo;
}
.bottom-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-nav__houseList{
  position: relative;
}
.bottom-nav__houseList__count{
  border: 1px solid black;
  color: black;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  top: 0px;
  right: 0px;
}
@media only screen and (max-width: 600px) {
  .bottom-nav {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    box-sizing: border-box;
  }
}
