.propertyUpload {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

.newHouseBoxes {
  display: flex;
  flex-direction: row;
  border: 2px grey solid;
  height: min(40vh, 280px);
  width: min(80vw, 280px);
}

.mainBox {
  padding-top: 3%;
}

.secondaryBoxes {
  display: flex;
  flex-direction: column;
  width: 50em;
}

.secondBox,
.thirdBox,
.fourthBox {
  border: 1px grey solid;
  height: 35%;
  padding-top: 25%;
}

.mainImage {
  object-fit: contain;
}

.upload {
  max-width: 300px;
}
